@use "../../styles/base.scss";

input, textarea{
    font-family: base.$font-secondary;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
textarea{
    width: 100%;
    resize: vertical;
}
.text-capitalized{
    text-transform: capitalize;
}