@use "../../styles/base.scss";

input, textarea{
    font-family: base.$font-secondary;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
textarea{
    width: 100%;
    resize: vertical;
}
.text-capitalized{
    text-transform: capitalize;
}

.form-preview-input{
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 6px 12px;
    height: 100%;
    padding: 12px 6px;
}