@use "../../styles/base.scss";

button{
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    font-size: base.$font-size-2;
    width: 140px;
    font-weight: 600;
    border-radius: 5px;
}

.primary{
    background-color: base.$button-background-color;
    color: base.$primary-color-dark;
    box-shadow: 1px 1px 1px 2px rgba(255, 166, 0, 0.3);

    &:hover, &:focus{
        background-color: base.$background-color;
        outline: 2px solid base.$button-background-color;
    }
}
.primary.inactive{
    background-color: gray;
}

.secondary{
    background-color: base.$button-background-secondary-color;
    color: white;
    box-shadow: 1px 1px 2px 2px rgba(38, 226, 255, 0.3);
    &:hover, &:focus{
        background-color: base.$background-color;
        outline: 2px solid base.$button-background-secondary-color;
        color: base.$primary-color-dark;
    }

}

.btn-levels{
    outline: 2px solid base.$primary-color-dark;
    &:hover, &:focus{
        background-color: rgba(0, 0, 0, 0.3);
    }

}
