@use "../../styles/base";

$background-color-dark: rgba(0, 161, 173, 1);
$background-light: rgba(0, 161, 173, .2);

h1, h2{
    text-transform: capitalize;
}
h1{
    font-size: base.$print-font-size-6;
}
h2{
    font-size: base.$print-font-size-3;
}
p{
    font-size: base.$print-font-size-2;
}

.papersize{
        max-width: 21cm;
        width: auto;
        min-height: 29.7cm;
        margin: auto;
        background-color: white;
        padding: 6mm 8mm 6mm 8mm;
        box-sizing: border-box;
        font-family: base.$font-secondary;
    }

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .img-container{
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            width: 180px;
            height: 60px;
        }
    }
}
.two-columns-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personalInformation-title{
    font-weight: 600;
}
.studentName{
    font-size: 1rem;
}
.justify-end{
    justify-self: end;
    padding-right: 5px;
}

.even-columns{
    padding: .8rem 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    // border: 1px solid black;
    gap: 1rem;
}
.graph-levelInfo{
    margin-top: 14px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}
.d-flex{
    display: flex;
    color: rgb(129, 129, 129);
    gap: 10px;
}

.label-containers{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.table{
    p{
        font-size: base.$print-font-size-1;
    }
    width: 100%;
    font-family: base.$font-secondary;
    border: 1px solid black;
    .row{
        background-color: $background-light;
        color: white;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(8, 1fr);
    }
    .row:nth-child(n+2)
    {
        background-color: $background-light;
        color: black;
    }
    .row:nth-child(odd)
    {
        background-color: white;
    }
    .row:first-child
    {
        background-color: $background-color-dark;
    }

    .col{
        text-align: center;
        padding: 2px 0;
        border-right: 1px solid black;
    }
    .col:last-child{
        border: none;
    }
    
    .table-header{
        text-align: center;
        text-transform: capitalize;
    }

}
.cards-container{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    p{
        font-size: base.$print-font-size-1;
    }
}
.level-card{
    border: 1px solid black;
    font-family: base.$font-secondary;
    .level-card-title{
        background-color: $background-color-dark;
        padding: 4px;
        color: white;
    }
    .level-card-description{
        padding: 4px;
    }
}
.graph-container{
    position: relative;
    aspect-ratio: 1/1;
}
.card{
    height: 200px;
    .card-title{
        background-color: $background-color-dark;
        padding: 4px;
        color: white;
    }
    .card-comment{
        padding: 6px 8px;
    }
    border: 1px solid black;
}

.signature-section{
    margin-top: 10px;
    .signature-line{
        height: 16px;
        width: 100%;
        border-bottom: 2px solid gray;
    }
}

.wrapper-two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-capitalized{
    text-transform: capitalize;
}

.comment-signature-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-print-view{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    overflow: hidden;
}
.printBtn{
    background-color: lightgreen;
}
