@use 'base';

header{
    color: base.$font-color-dark;
    border-bottom: 1px solid lightgray;

    .header-container{
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        ul{
            list-style-type: none;
            display: flex;
            gap: 2px;
            li{
                cursor: pointer;
                a{
                    font-size: base.$font-size-1;
                    font-weight: 700;
                    padding: 5px 12px;
                }
            }
        }
        .header-image{
            height: auto;
            width: 80px;
        }
    }
}

