@media print {
    @page{
        size: a4;
        margin: 0;
    }
}
.papersize{
    width: 595px;
    height: 852px;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 12mm;
    box-sizing: border-box;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 20px;
        padding-top: 2px;
        }
  
    .img-container{
        margin-inline: auto;
        width: 120px;
        height: 60px;
    }
  
}
.two-columns-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personalInformation-title{
    font-size: 14px;
    font-weight: 600;
}
.personalInformation-description{
    font-size: 12px;
}
.justify-end{
    justify-self: end;
    padding-right: 5px;
}

.even-columns{
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    // border: 1px solid black;
    gap: 1rem;
}

.d-flex{
    font-size: 8px;
    display: flex;
    color: rgb(129, 129, 129);
    gap: 5px;
}

.label-containers{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.table{
    width: 520px;
    font-size: 10px;
    .row{
        display: grid;
        grid-template-columns: repeat(8, 65px);
        border: 1px solid black;
    }
    .col{
        border: 1px solid black;
        text-align: center;
        padding: 2px 0;
    }
    .table-header{
        font-size: 9px;
        text-align: center;
    }

}

