@media print {
    @page{
        size: a4;
        margin: 0;
    }
}
.papersize{
    width: 210mm;
    height: 297mm;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20mm;
    box-sizing: border-box;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    h1{
        font-size: 1.6rem;
    }
  
    .img-container{
        margin-inline: auto;
        width: 291px;
        height: 150px;
    }

}