@use 'base';

*{
    padding: 0;
    margin: 0;
}
body {
    color: base.$font-color;
    font-family: base.$font-primary;
    background-color: base.$background-color;
}
h1{
    font-size: base.$font-size-9;
    color: base.$font-color;
    text-align: center;
    text-transform: capitalize;
}
h2, h3, h4{
    text-transform: capitalize;
}
p{
    font-size: base.$font-size-1;
}
input, textarea{
    font-family: base.$font-secondary;
}

button{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 12px 10px;
    border: none;
    font-size: base.$font-size-1;
    border-radius: 5px;
    width: 100px;
}
button:hover{
    background-color: white;
    color: black;
}



header{
    color: base.$font-color-dark;
    background-color: base.$primary-color;
    border-bottom: 3px solid base.$primary-color-dark;


    .header-container{
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        padding: 1.5rem 0;

        ul{
            list-style-type: none;
            display: flex;
            gap: 2px;
            li{
                cursor: pointer;
                a{
                    font-size: .9rem;
                    font-weight: 700;
                    padding: 5px 12px;
                }
            }
        }
    }
    .header-title{
        font-size: 1.6rem;
        font-weight: 700;
    }
    
}

.title{
    padding: 3rem 0;
}

.form-container{

    textarea{
        font-size: .9rem;
        width: 100%;
        padding: 1.2rem 1rem;
        box-sizing: border-box;
    }
    button{
        float: right;
    }
    margin-inline: auto;
    max-width: 900px;
    width: 100%;
    border: 1px solid black;
    padding: 3rem 2.4rem;

    .row{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .input-container{

        label{
            input{
                width: 100%;
                box-sizing: border-box;
            }
            .form-input{
                padding: 5px 6px;
            }
    
        }
    }

}

.range-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 2rem 0;
    
    label{
        text-transform: capitalize;
        input[type="range"]{
            width: 100%;
        }
    }
}




