@use 'base';

*{
    padding: 0;
    margin: 0;
}
body {
    color: base.$font-color;
    background-color: base.$background-color;
    text-align: base.$font-center;
}
h1{
    font-size: base.$font-size-9;
    color: base.$font-color;
}
p{
    font-size: base.$font-size-1;
}
header{
    color: base.$font-color-dark;
    background-color: base.$primary-color;
    border-bottom: 3px solid base.$primary-color-dark;


    .header-container{
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        padding: 1.5rem 0;

        ul{
            list-style-type: none;
            display: flex;
            gap: 2px;
            li{
                cursor: pointer;
                a{
                    font-size: .9rem;
                    font-weight: 700;
                    padding: 5px 12px;
                }
            }
        }
    }
    .header-title{
        font-size: 1.6rem;
        font-weight: 700;
    }
    
}


button{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 12px 10px;
    border: none;
    font-size: base.$font-size-1;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
}