@use "/src/styles/base.scss";

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
