@use '../../styles/base.scss';

input{
    padding: 8px;
}
.title{
    text-align: center;
}
.block{
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
}

.personal-information-container{
    display: grid;
    grid-template-areas:
        "firstname firstname"
        "course textbooks"
        "attendance totalLessons";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 45em){
    .personal-information-container{
        grid-template-areas:
        "firstname"
        "course"
        "textbooks"
        "attendance"
        "totalLessons";
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}
.personal-information-container > #firstname{
    grid-area: "firstname";
    padding: 0 10px;
}
.personal-information-container > #course{
    grid-area: "course";
    padding: 0 10px;


}
.personal-information-container > #textbooks{
    grid-area: "textbooks";
    padding: 0 10px;

}
.personal-information-container > #attendance{
    grid-area: "attendance";
    padding: 0 10px;

}
.personal-information-container > #totalLessons{
    grid-area: "totalLessons";
    padding: 0 10px;

}

.flex-two-cols{
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // width: 100%;
}

table{
    width: 100%;
    max-width: 1100px;
    border-collapse: collapse;
    margin-inline: auto;
}
tr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
th{
    padding: 8px;
}
th, td{

    border: 1px solid black;
    font-size: .8rem;
    text-align: center;
}
th{
    background-color: gray;
    color: white;
}
td{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

tb{
    padding: 8px;
}

.floating-btn{
    position: absolute;
    height: 35px;
    width: 60px;
    top: 15px;
    bottom: 15px;
    right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-input{
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.preview-input[type="number"]::-webkit-inner-spin-button,
.preview-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.preview-input:focus{
    border: none;
}