@use "../../styles/base.scss";



select, input{
    font-size: base.$font-size-1;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}
select option{
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: base.$font-size-1;
}

.form-container{
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
    display: grid;
    gap: 10px;
    outline: 1px solid;

    @media (max-width: 55em)
    {
        .double-columns{
            grid-template-columns: 1fr;
            gap: inherit;
        }
    }
}
.wrapper-container{
    margin-top: 1.2rem;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;

}

.two-columns{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items:center;
    padding: 0 12px;

    span{
        margin-left:10px;
        width: 150px;
    }
   
}

.three-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media(max-width: 55em)
    {
        grid-template-columns: 1fr;
    }
}
.wrapper-level-input{
    display: flex;
    flex-direction: column;
}

.form-card{
    background-color:white;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    @media (max-width: 55em)
    {
        border-radius: 0px;

    }
    p{
        line-height: 1.5;
        font-size: .9rem;
    }
}

